

streamlit==1.35.0

pandas==2.3.1
numpy==1.26.4
scipy==1.12.0
scikit-learn==1.5.2
joblib==1.4.2

nltk==3.8.1






sqlalchemy==2.0.30


openpyxl==3.1.2


matplotlib==3.9.0

seaborn==0.13.2


tqdm==4.66.4


regex==2023.12.25

requests==2.31.0
beautifulsoup4==4.12.2


python-dotenv==1.0.1
